
.blue {
  background-color: #267bfc;
}

#header {
  height: 80px;
}

#panelbutton{
  display: flex;
  align-content: center;
  justify-content: center;
}

#title {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  justify-content: center;
}

#modalbuttons{
  display: flex;
}

#ShowStatus{
  text-align: center;
  font-size: 20px;
}