/* Structure générale */
.blue {
  background-color: #267bfc;
}

/* En-tête */
#header {
  position: relative;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}

#header .dropdown, #header .btn-group {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#header .dropdown {
  left: 20px;
}

#header .btn-group {
  right: 20px;
}

#dateSelectors {
  display: flex;
  align-items: center;
  margin-left: 220px; /* Décaler les sélecteurs de date vers la droite */
}

#datePickerFrom, #datePickerTo {
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-right: 10px; /* Espacement entre les deux sélecteurs de date */
}


#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0;
}

/* Graphiques */
#dashboardContainer {
  height: calc(100vh - 5rem); /* 100% de la hauteur moins la barre bleue */
}

#dashboardContainer .row {
  height: 50%; /* Chaque ligne prend 50% de la hauteur du conteneur */
}

#dashboardContainer .row .col-md-6 {
  height: 100%; /* Les colonnes doivent prendre toute la hauteur de la ligne */
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
  }

  #title {
    text-align: left;
    margin-top: 10px;
  }

  #header .dropdown, #header .btn-group {
    position: static;
    transform: none;
    margin-bottom: 10px;
  }
}

/* Masquer le bouton sur ConfigurationPanel.html */
body.configuration-panel #configPanelButton {
  display: none;
}
